body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: white;
    position: relative;
    background: url('https://raw.githubusercontent.com/kamenjack/manga/main/back.jpg') no-repeat center center fixed;
  background-size: cover;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 数值越大越暗，可调 */
  z-index: -1; /* 保证蒙版在文字后面 */
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    flex: 1;
}

.navbar a:hover {
    background-color: #575757;
}

section {
    padding: 50px;
}





