body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: url('manga/back.jpg') no-repeat center center fixed;
  background-size: cover;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    flex: 1;
}

.navbar a:hover {
    background-color: #575757;
}

section {
    padding: 50px;
}


